* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Bebas Neue", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fb9427;
  position: relative;
  z-index: -1;
}
.hidden {
  display: none;
}
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: transparent;
  object-fit: contain;
  overflow: hidden;
  z-index: 999;
}
.loading img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: -1;
  background-color: black;
}
.loading-text {
  font-size: clamp(0.5rem, 60px, 6rem);
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #d01c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.loading-text p {
  font-size: 20px;
}
#L {
  animation: blur-text 2s 0s infinite;
  animation-direction: normal;
}
#O {
  display: flex;
  align-items: center;
  animation: blur-text 2s 0.2s infinite;
  animation-direction: normal;
}
#O img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
#A {
  animation: blur-text 2s 0.4s infinite;
  animation-direction: normal;
}
#D {
  animation: blur-text 2s 0.6s infinite;
  animation-direction: normal;
}
#I {
  animation: blur-text 2s 0.8s infinite;
  animation-direction: normal;
}
#N {
  animation: blur-text 2s 1s infinite;
  animation-direction: normal;
}
#G {
  animation: blur-text 2s 1.2s infinite;
  animation-direction: normal;
}
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  4% {
    filter: blur(4px);
  }
}
.contactForm {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: #d0671c9f;
}
.contactForm img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
form {
  width: 56vw;
  height: 100vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
  justify-content: center;
}
.closeContactMenu {
  position: absolute;
  left: 30px;
  top: 10px;
  cursor: pointer;
  font-size: 60px;
  font-weight: 100;
}
form input,
textarea,
button {
  padding-block: 10px;
  padding-inline-start: 10px;
}
form button {
  background-color: transparent;
  border: 0.5px solid;
}
form button:hover {
  background-color: #000;
  color: white;
}
.menuOption {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.menuOption img {
  height: 100vh;
  width: 30vw;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.closeMenu {
  position: absolute;
  left: 30px;
  top: 10px;
  cursor: pointer;
  font-size: 60px;
  font-weight: 100;
}
.menuOptionBtn {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.menuOptionBtn button {
  background: transparent;
  border: 0px;
}
.menuOptionBtn button a {
  text-decoration: none;
  color: #d0671c;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-weight: 100;
}
.menuBtn {
  cursor: pointer;
}
.menuBtn::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #d0671c64;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: right;
  margin-top: 60px;
}
.menuBtn:hover::before {
  transform: scaleX(1);
}
.socialLinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  padding-inline-start: 10px;
  z-index: 100;
}
nav {
  display: flex;
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navIcon {
  width: 60px;
}
.rightNav {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
}
.contactUs {
  background-color: transparent;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.contactUs:hover {
  background-color: #000;
  color: #fff;
}
.menu {
  background: transparent;
  border: 0px;
  cursor: pointer;
}
.menu img {
  width: 30px;
  height: 30px;
}
.topArea {
  width: 100vw;
  position: relative;
}
.narutoImage {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.narutoTitle {
  width: 80vw;
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d0671c;
  padding: 50px 100px;
  backdrop-filter: brightness(0.6);
  justify-content: center;
  z-index: 2;
}
.narutoTitle img {
  /* width: clamp(40px, 5vw, 160px); */
  width: 8rem;
}
.about {
  width: 100%;
  margin-top: -10px;
}
.about img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.story {
  position: relative;
  width: 100vw;
  height: 25vh;
}
.story img {
  object-fit: contain;
  height: 100%;
  left: 0;
  position: absolute;
  width: 50vw;
}
.aboutNaruto {
  display: flex;
  padding-inline: 30px;
}
.aboutNarutoContent {
  width: 40vw;
  padding: 20px;
  background-color: #fff;
  gap: 20px;
}
.aboutNarutoContent h1 {
  font-size: 50px;
}
.aboutNarutoContent p {
  white-space: wrap;
  padding-block: 20px;
  padding-inline-end: 20px;
}
.aboutNarutoContent h2 {
  font-weight: 100;
}
.aboutNaruto img {
  width: 24vw;
  height: 50vh;
  position: absolute;
  z-index: 1;
  object-fit: contain;
  left: 30vw;
  margin-top: -200px;
}
.aboutNarutoContent button {
  background-color: transparent;
  padding-inline: 20px;
  padding-block: 3px;
  transition: 0.3s;
  cursor: pointer;
}
.aboutNarutoContent button:hover {
  background-color: #000;
  color: #fff;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.aboutNarutoManga {
  position: absolute;
  width: 40vw !important;
  height: 100vh;
  z-index: 10;
  right: 0;
}
.kakashiStyle {
  top: calc(-6vw - 145px);
  bottom: calc(-26vw - 145px);
  clip-path: polygon(0px calc(4vw), 100% 0px, 100% calc(100% - 4vw), 0px 100%);
  background-size: auto 360px;
  background-color: #000;
  margin-top: 200px;
}
.kakashiStyle img {
  width: 100vw;
  object-fit: contain;
}
.characterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
}
.characterCard h1 {
  font-size: 6rem;
  overflow: hidden;
}
.characterCardHeading::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  display: block;
  margin-top: -20px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  padding: 30px;
  justify-content: center;
  overflow: hidden;
}
.card img {
  width: 15vw;
  height: 30vh;
  object-fit: cover;
  transition: 0.3s;
}
.cardImage {
  display: flex;
  width: 15vw;
  height: 30vh;
  overflow: hidden;
}
.card:hover span img {
  transform: scale(1.1);
}
.card h1 {
  font-size: 20px !important;
}
.card p {
  font-size: 12px;
}
.tailBeastBgImg {
  position: relative;
  width: 100vw;
  object-fit: cover;
  clip-path: polygon(0 calc(10vh), 100% 0%, 100% calc(100% - 10vh), 0 100%);
}
.madaraImage {
  overflow: hidden;
  position: relative;
}

.ghost {
  background: #fb9427;
  width: 250vw;
  display: flex;
  flex-direction: row;
}
.ghost::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ghostSlide {
  width: 100vw;
  display: inline-block;
  /* flex-direction: row; */
  animation: 15s slide infinite linear;
  position: relative;
}
@keyframes slide {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
.ghost h1 {
  width: 100vw;
  font-size: 8rem;
  margin: 0 20px;
  -webkit-text-stroke: 1px #ffffff;
}

.line {
  width: 100vw;
  height: 2px;
  background-color: #000;
  margin-bottom: 10px;
}
.sasukeVSnaruto {
  /* The image used */
  background-image: url("images/NVSS.webp");

  /* Set a specific height */
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sasukeVSnarutoMsg {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.sasukeVSnarutoText {
  text-align: center;
  font-size: 6rem;
}
.sasukeVSnarutoPara {
  text-align: center;
  text-transform: uppercase;
}
.sasukeVSnarutoBtn {
  display: flex;
  justify-content: space-around;
  margin-block: 30px;
}
.sasukeVSnarutoBtn button {
  width: 40%;
  font-size: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.sasukeVSnarutoBtn button:hover {
  color: #fff;
  background-color: #000;
}
/* Media */
@media screen and (max-width: 1100px) {
  .narutoTitle img {
    width: 6rem;
  }
  .ghost h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 950px) {
  .tailBeastBgImg {
    height: 100vh;
  }
  .narutoTitle img {
    width: 4rem;
  }
  .card img {
    width: 20vw !important;
  }
  .cardImage {
    width: 20vw !important;
    height: auto !important;
    aspect-ratio: 3/4;
  }
  .ghost h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 800px) {
  .ghost h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .characterCard h1 {
    font-size: 4rem;
  }
  .ghost h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .narutoTitle img {
    width: 3rem;
  }
  .card img {
    width: 40vw !important;
    height: 40vh !important;
  }
  .cardImage {
    width: 40vw !important;
    height: 40vh !important;
  }
}
@media screen and (max-width: 550px) {
  .ghost h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .characterCard h1 {
    font-size: 3rem;
  }
  .characterCardHeading::after {
    margin-top: 0px;
  }
}
@media screen and (max-width: 410px) {
  .ghost h1 {
    font-size: 2.4rem;
  }
}
